body {
  background-color: white;
  color: #333333;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 12px;
}
.calendar {
  margin-top:30px;
}
.events {
  background-color: #ececec;
  border-left: 1px solid #D5D5D5;
  height: 720px;
  margin-left: 70px;
  padding: 0 10px;
  position: relative;
  width: 600px;
}
.event {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color:#FFF;  
  border: 1px solid #CCCCCC;
  border-left:4px solid #4b6ea9;
  display:inline-block;
  overflow:hidden;
  position: absolute;
  vertical-align: top;
  box-sizing: border-box;
}
.event .title {
  color: #4B6EA8;
  font-size: 14px;
  font-weight: bold;
  padding:6px 0 6px 6px;
}
.event .subtitle {
  color: #676767;
  font-size: 9px;
  padding:0 6px;
}
.event .debug {
  color: #000000;
  display: none;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 8px;
  padding:0 6px;
}
.time {
  display: block;
  float: left;
  width: 75px; 
}
.time ul{ 
  margin-right: 10px;
  margin-top: -10px;
  padding-left: 0;
  padding-top: 0;
}
.time li {
  color: #676767;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  padding-right: 5px;
  text-align: right;
}
.time span,
.time .halfhour {
  color: #797979;
  font-size: 8px;
  font-weight: normal;
}